*.iml
.idea
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# Make sure no sensitive data is accidentally committed
# add w/ git add --force if actually docs
*.csv
*.txt
*.xml
*.xls
*.xlst
*.xlsx
*.doc
*.docx
